{% extends '@T411Main/Default/layout.html.twig' %}

{% block content %}
    <section class="alert alert-dismissable alert-danger">
        <h3>Une erreur est survenue.</h3>
        <p>{{ error|trans }}</p>
    </section>
{% endblock %}